<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>
<%# method is one of Rails' built-in view helpers. It creates a hyperlink based on text to display and where to go - in this case, to the path for articles. %>
